<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Employees</title>
    <style>
        #ProfilePic {
            /* color: blueviolet; */
            background-color: blueviolet;
        }

        #PreviewBackground {
            height: 100vh;
            width: 100vw;
            display: none;
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/employees/add_employees.css') }}">

<body>
    <h1>Add Employees</h1>
    <form action="/add_employees" enctype="multipart/form-data" method="post">
<div style="display:block;">
        <!-- For profile mini view and select -->
        <div style="display: inline-flex;">
            <div style="display: inline-block;">
        <label for="ProfilePic">Profile Picture : </label>
        <button id="ProfilePic" type="button" >Choose Picture </button>
    
        <button id="PreviewPicButton" type="button">Preview Image</button>
    </div>
        <img id="ProfilePicture" alt="Profile Pic" hidden  >
    </div><br>
    <small style="font-size: 12px; color: rgb(255,255,255); font-weight: 500; padding: 3px;">Your Profile pic should be in 1:1 aspect ratio</small>
        </div>
        <!-- To  Fill up the required form -->
        <br>
        <div >
        <label for="NameBox">Name:</label>
        <input type="text" id="NameBox" required name="NameBox"><br><br>
        <label for="EmailBox">Email:</label>
        <input type="text" id="EmailBox" required name="EmailBox"><br><br>
        <button id="GenerateOtpButton" type="button">GenerateOtp</button>
        <span id="OTPMailBox" ></span>
        </div>
        <label for="WorkerTypeBox">Worker Type:</label>
        <input type="text"  id="WorkerTypeBox" name="WorkerTypeBox"     required><br><br>

        <div id="SelectorBox">
            <select name="WorkerType" id="WorkerType" required>
                <option value=""> Select option</option>
                <option value="admin">Admin</option>
                <option value="others">Others</option>
            </select>
            <div id="OthershelperDiv" hidden><input id="Others">
                
            </div>
        </div>


        <div id="message">tHIS IS MESSAGE</div>

         <input id="ProfilePicInput" type="file" name="file" hidden >
        <button type="button"  id = "submitbutton" value="Submit">Submit</button>
    </form>
    </div>
   
    
    <div id="PreviewBackground" hidden>
               <div id="PreviewForeground">
                   <img alt = "preview image" id="Preview" >
               </div>
           </div>
        <script src="/static/logic/admin/employees/add_employees.js"></script>

</body>
</html>