<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        {% csrf_token%}
        <label for="UsernameBox" > Enter Username: </label>
        <input id = "UsernameBox" placeholder="Username" type="text">
      <br>
      <label for="PasswordBox">Enter Password:</label>
        <input id = "PasswordBox" placeholder="Password" type="password">
        <br>
        <small  id="message" id="MessageBox">   </small><br>
        
        <a href="forgot_details">Forgot your details??</a>
        <button id="submit">Login</button>
    </form>
    <script>
        const MessageBox = document.getElementById("MessageBox");
        document.getElementById("submit").addEventListener("click",e=>{
            e.preventDefault();
            const browser_info = navigator.userAgent;
            const os = navigator.platform;
            const device_info = {
                os : os,
                browser_info : browser_info
            }
            const username = document.getElementById("UsernameBox").value;
            const password = document.getElementById("PasswordBox").value;
            const request_type = "SubmitDetails";
            if (!(password==null || username == null || username==="" || password === "")){
            const login_pack = {
                username : username ,
                password : password ,
                request_type : request_type,
                device_info : device_info
            }
            document.getElementById("submit").disabled = true
            document.getElementById("submit").innerHTML = "Loggin in..."

            fetch("login",{
                method : "POST",
                headers : {
                    "Content-Type":"application/json",
                    "X-CSRFToken" : document.querySelector("[name=csrfmiddlewaretoken]").value
                }, body : JSON.stringify(login_pack)
            }).then (res=>res.json()).then(server=>{
                document.getElementById("submit").disabled = false;
                document.getElementById("submit").innerHTML = "Login"
                if (server.status=="ok"){
                    window.location.href = "dashboard"
                }
                else document.getElementById("message").innerHTML=server.message
            }).catch(error=>{
                document.getElementById("submit").disabled = false;
                document.getElementById("submit").innerHTML = "Login"
                document.getElementById("message").innerHTML = "An error occurred. Please try again."
            })

        }else  document.getElementById("message").innerHTML="Input fields cannot be empty!!"

        })
    </script>
</body>
</html>