<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    form {
      display: "block";
      background-color: aqua;
      max-width: 800px;
    }

    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <form>
    <input id="NameBox" required type="text" placeholder="Name">
    <div id="OtpGenerationStep">
      <input id="EmailBox" type="email" placeholder="email id">

      <button id="GenOTP" type="button">Generate OTP</button>
    </div>
    <div id="OtpVerificationStep">
      <input id="OtpBox" type="text" maxlength="6" minlength="6" placeholder="OTP">
      <button id="VerifyOtpbtn">Verify</button>

    </div>
    <p id="info">This is my ex</p>
    <div id="SubmitDetails">
      <input id='UsernameBox' type='text' placeholder='username' required>
      <input id='PasswordBox' type='password' placeholder="password" required>
      <input id='TokenBox' type='password' placeholder="token" required>
      <button type='button' id="SubmitRegister">Submit</button>
    </div>
  </form>
  <script src="{{url_for('static',filename='js/admin/register.js')}}">
  </script>

</body>

</html>