<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ssss</title>
</head>
<body>
    <form>
        <input id="username" required>
        <input id="password" required>
        <button id="sqlbtn" type ="button">submit</button>
        <button id="sssbtn" type ="button">submit</button>
    </form><script>
        const submitbtn = document.getElementById('sqlbtn')
        submitbtn.addEventListener('click',e=>{
            e.preventDefault();
            payload = {
                request_type : "register",
                usern
            }
        })
    </script>
</body>
</html>